<div class='status-managed-hosts-dashboard-cards container-fluid container-cards-pf'>
  <div class='row row-cards-pf'>
    <%= render partial: 'status_managed_hosts_dashboard_cards_card', locals: {
      title: _('Hosts not found in vSphere'),
      count: missing_hosts_count
    } %>
    <%= render partial: 'status_managed_hosts_dashboard_cards_card', locals: {
      title: _('Hosts associated to wrong Compute Resource'),
      count: wrong_hosts_count
    } %>
    <%= render partial: 'status_managed_hosts_dashboard_cards_card', locals: {
      title: _('Hosts found on more than one Compute Resource'),
      count: more_than_one_hosts_count
    } %>
  </div>
</div>
