<%=
  alert(:header => _('Notice'),
        :class => 'alert-info',
        :text => _('The status data is not updated automatically and might be out of data. The newest data was recorded on %s.').html_safe % (respond_to?(:date_time_absolute) ? date_time_absolute(@newest_data, :long) : l(@newest_data, :format => :long))
       )
%>

<%= title_actions(
  button_group(
    if params[:owned_only]
      link_to _('Show all hosts'), status_dashboard_hosts_path, class: 'btn btn-default'
    else
      link_to _('Show only owned hosts'), status_dashboard_hosts_path(owned_only: true), class: 'btn btn-default'
    end
  )
) %>

<div class="list-group list-view-pf list-view-pf-equalized-column" style="max-height: initial;">
<% @data.each_with_index do |status, idx| %>
<%=
  render :partial => 'status_row', locals: {
    name: status[:name],
    description: status[:description],
    counter: status[:counter],
    status: status[:host_association],
    supports_remediate: status[:supports_remediate],
    host_association: status[:host_association],
    owned_only: params[:owned_only],
    id: idx
  }
%>
<% end %>
</div>
